
{{#> gigs-nav}}

{{/gigs-nav}}
<!-- END nav -->
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        {{!-- <h2 class="mb-2"><span>All</span> Gigs</h2> --}}
      </div>
    </div>
    <div class="row">
      
      {{#each gigs}}
        <!--job post -->
        <div class="col-md-12 ftco-animate mb-3">
        
          <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center border-r-4">
        
            <div class="mb-4 mr-5 company-image">
              <img src="images/1.svg" alt="LOGO">
            </div>
        
            <div class="mb-4 mb-md-0 mr-5 mr-md-0">
              <div class="job-post-item-header d-flex align-items-center">
                <a href="#">
                  <h2 class="mr-3 text-black h4">{{job_title}}</h2>
                </a>
                {{#if category}}
                  <div class="badge-wrap">
                    {{!-- <span class="bg-success text-white badge py-1 px-2">{{category}}</span> --}}
                  </div>
                {{/if}}
              </div>
        
              <div class="job-post-item-body d-block d-md-flex pr-3 pr-md-0">
                <p>
                  {{summary}}
                </p>
              </div>
        
              <div class="job-post-item-body d-block d-md-flex">
                <div class="mr-3"><span class="icon-layers"></span> <a href="#">{{company}}</a></div>
                
                <div class="mr-3"><span class="icon-money"></span> <span> {{salary}}</span></div>
                
                <div class="mr-3"><span class="icon-clock-o"></span> <span> {{post_date}}</span></div>
              </div>
            </div>
        
            <div class="ml-auto d-flex">
              <a href="{{link}}" rel="noopener" target="_blank" class="btn btn-primary py-2 mr-1">Apply Job</a>
            </div>
          </div>
        </div><!-- end post-->
      {{else}}
      <p>
        No gigs
      </p>
      {{/each}}


    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{#> footer}}

{{/footer}}

{{#> scripts}}

{{/scripts}}
<script src="js/main2.js"></script>