{{#> main-nav}}

{{/main-nav}}
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background: url(images/bg2.jpg) no-repeat center / cover;" id="top"
    data-stellar-background-ratio="0.5">
    {{!-- <div class="overlay"></div> --}}
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
            data-scrollax-parent="true">
            <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
                <!-- <p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have <span class="number" data-number="850000">0</span> great job offers you deserve!</p> -->
                <h1 class="mb-5 mt-5 pt-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Your
                    Dream <br><span>Job is Waiting</span></h1>

                <div class="ftco-search">
                    <div class="row">

                        <div class="col-md-12 tab-wrap">

                            <div class="tab-content p-4" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                    aria-labelledby="v-pills-nextgen-tab">
                                    <form action="/gigs/search" class="search-job" method="GET">
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="icon"><span class="icon-briefcase"></span></div>
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            placeholder="eg. Garphic. Web Developer, JS, PHP" name="term">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon"><span class="icon-chevron-down"></span>
                                                            </div>
                                                            <select name="" id="" name="category" class="form-control">
                                                                <option value="">Category</option>
                                                                <option value="">Full Time</option>
                                                                <option value="">Part Time</option>
                                                                <option value="">Freelance</option>
                                                                <option value="">Internship</option>
                                                                <option value="">Temporary</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <input type="submit" value="Search"
                                                            class="form-control btn btn-primary">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                    aria-labelledby="v-pills-performance-tab">
                                    <form action="#" class="search-job">
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="icon"><span class="icon-user"></span></div>
                                                        <input type="text" class="form-control"
                                                            placeholder="eg. Adam Scott">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon"><span class="ion-ios-arrow-down"></span>
                                                            </div>
                                                            <select name="" id="" class="form-control">
                                                                <option value="">Category</option>
                                                                <option value="">Full Time</option>
                                                                <option value="">Part Time</option>
                                                                <option value="">Freelance</option>
                                                                <option value="">Internship</option>
                                                                <option value="">Temporary</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="icon"><span class="icon-map-marker"></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Location">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <input type="submit" value="Search"
                                                            class="form-control btn btn-primary">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if categories}}
<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Categories work wating for you</span>
                <h2 class="mb-4"><span>Current</span> Job Posts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <ul class="category">
                    <li><a href="#">Web Development <span class="number" data-number="1000">0</span></a></li>
                    <li><a href="#">Graphic Designer <span class="number" data-number="1000">0</span></a></li>
                    <li><a href="#">Multimedia <span class="number" data-number="2000">0</span></a></li>
                </ul>
            </div>

            <div class="col-md-4 ftco-animate">
                <ul class="category">
                    <li><a href="#">PHP Programming <span class="number" data-number="5500">0</span></a></li>
                    <li><a href="#">Project Management <span class="number" data-number="2000">0</span></a></li>
                </ul>
            </div>
            <div class="col-md-4 ftco-animate">
                <ul class="category">
                    <li><a href="#">Web Designer <span><span class="number" data-number="8000">0</span></span></a>
                    </li>
                    <li><a href="#">Software Development <span class="number" data-number="1356">0</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{/if}}


{{#if gigs}}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Recently Added Gigs</span>
                <h2 class="mb-4"><span>Recent</span> Gigs</h2>
            </div>
        </div>
        <div class="row">
            {{#each gigs}}
            <!--job post -->
            <div class="col-md-12 ftco-animate mb-3">

                <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center border-r-4">

                    <div class="mb-4 mr-5 company-image">
                        <img src="images/1.svg" alt="LOGO">
                    </div>

                    <div class="mb-4 mb-md-0 mr-5 mr-md-0">
                        <div class="job-post-item-header d-flex align-items-center">
                            <a href="#">
                                <h2 class="mr-3 text-black h5">{{job_title}}</h2>
                            </a>
                            <div class="badge-wrap">
                                {{!-- <span class="bg-primary text-white badge py-1 px-2">Partime</span> --}}
                            </div>
                        </div>

                        <div class="job-post-item-body d-block d-md-flex pr-3 pr-md-0">
                            <p>
                                {{summary}}
                            </p>
                        </div>

                        <div class="job-post-item-body d-block d-md-flex">
                            <div class="mr-3"><span class="icon-layers"></span> <a href="#">{{company}}</a></div>
                            <div class="mr-3"><span class="icon-money"></span> <span> {{salary}}</span></div>
                            <div class="mr-3"><span class="icon-clock-o"></span> <span> {{post_date}}</span></div>
                        </div>
                    </div>

                    <div class="ml-auto d-flex">
                        <a href="{{link}}" rel="noopener" target="_blank" class="btn btn-primary py-2 mr-1">Apply Job</a>
                    </div>
                </div>
            </div><!-- end post-->

            {{/each}}
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <a href="/gigs" class="btn btn-outline-primary">View All Gigs</a>
            </div>
        </div>

    </div>
</section>

{{/if}}


{{#if (categories) }}
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg2.jpg);"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="1350000">0</strong>
                                    <span>Jobs</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="40000">0</strong>
                                    <span>Members</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="30000">0</strong>
                                    <span>Resume</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="10500">0</strong>
                                    <span>Company</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/if}}



{{#> footer}}

{{/footer}}

{{#> scripts}}

{{/scripts}}
<script src="js/main.js"></script>